<div class=" spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div>
<a type="button" value="salman" class="btn btn-custom " (click)="selectedAssigne($event)">Salman</a>
<a type="button" value="khadim" class="btn btn-custom " (click)="selectedAssigne($event)">Khadim</a>
<a type="button" value="Arsalan" class="btn btn-custom " (click)="selectedAssigne($event)">Arsalan</a>
<a type="button" value="Naveed" class="btn btn-custom " (click)="selectedAssigne($event)">Naveed</a>
<a type="button" value="Khurram" class="btn btn-custom " (click)="selectedAssigne($event)">Khurram</a>
